* {
    margin: 0;
    padding: 0;
    background-color:rgb(180, 103, 253);

}

.container{
    padding: 100px ;

}

.calculator{
    padding-inline: 60px;
    /* padding-bottom: 0%; */
    padding-top: 40px;
    margin-top: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.calculator h1{
    font-size:65px;
    color:rgb(255, 255, 255);

}


.calculator h1 span{
    margin-top: 0ch;
    font-size:60px;
    color:#ffff76;
}

.input-box{ 
    width:600px;
    display: flex;
    /* position: relative; */
    align-items:center;
    /* align-content:space-around; */
    margin: 35px 0px;
    background:rgb(255, 255, 255, 0.2);
    padding:10px 10px;
    border-radius: 10px;
}

.input-box input{
    /* height: auto; */
    align-content: center;
    flex:1;
    border:0;
    outline:0;
    border-radius: 5px;;
    background:white;
    padding:10px 10px;
    border-color:seashell;
    margin:20px;
    font-weight: 700;
    align-items: center;

}
.input-box button {
    background:yellow;
    border: 0;
    outline:0;
    padding: 14px 30px ;
    align-items: center;
    padding-inline: 20px; 
    border-radius: 5px;
    font-weight:400;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.input-box input::-webkit-calendar-picker-indicator{
    top: 0;
    bottom:0;
    left:0;
    align-items: center;
    width: 18px;
    right: 0;
    padding: 5px;
    position: space-around;
    background-position: calc(100%-10px);
    background-size: 20px;
    font-weight: 500;
    cursor: pointer;
} 

#result{
    font-size: 30px;
    height: 60px;
    width: 90px;
    background-color: #fff;
}
#result span{
    color: #ffff76;
}
